<div class="full-page-sec">
    <div class="ctr-content constrained">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Save yo grandaddy!</h1>
            </div>
            <div class="panel-body">
                Yo grandaddy's in trouble! He doesn't know how to use a telephone! Type in the number of the person telling him that he's one a new car to find out who the sick bastard is.
            </div>
        </div>
  
        <textarea class="form-control" id="number-input" rows="1" placeholder="(xxx) xxx-xxxx"></textarea>

        <div class="btn-group btn-group-sm btn-group-justified btn-group-raised" role="group">
            <label class="btn btn-default">
                find info
            </label>
            <label class="btn btn-default">
                report number
            </label>
        </div>
    </div>
</div>